@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #262626;
  --back: #595959;
  --label: #494949;
  --sub-label: #878787;
  --border: #D9D9D9;
  --table-border: #ebebeb;
  --table-header: #ebebeb;

  --black: #262626;
  --grey: #374254;
  --red: #dd2626;
  --dim-red: #B74D4D;

  --hover-grey: #F7F9FC;
  --hover-red: #BA2F2D;
  --hover-table: #fafafa;

  --orange: #cf4320;
  --red-bright: #fd0303;
  --blue-gray: #324e6d;
  --brown-gray: #837f7f;
  --steel-blue: #485d74;  /* น้ำเงินอมเทา */
  --dark-slate: #1f252d;   /* เทาเข้มอมฟ้า */
  --deep-navy: #0b0f19;    /* น้ำเงินเกือบดำ */
  --light-gray: #dde2e8;   /* เทาอ่อน */
  --medium-gray: #555555;  /* เทากลาง */
  --green: #2d8291;

  --hover-orange: #b33a1c;
  --hover-blue-gray: #2c4560;
  --hover-brown-gray: #6e6a6a;
  --hover-green: #267482;

  --primary-rgb: 163, 32, 53;
  --secondary-rgb: 99, 16, 29;
  --background-rgb: 250, 250, 250;

  --primary: #a32035;
  --primary-hover: #8f1e31;
  --secondary: #63101dff;
  --tertiary: #741020ff;
  --white: #ffffff;
  --disabled: #f5f5f5;
  --greyLight: #ebebeb;
  --greyDark: #6d6f72;
  --greyDarker: #383d44ff;
  --greyMedium: #707072;
  --greyRegular: #9d9ea2;
  --redLight: #f8d7da;
  --redDark: #a32035;
  --redMedium: #aa3845;
  --redRegular: #b4454e;
  --peachLight: #c99884;
  --peachSoft: #e2be8f;
  --topic: #5e131eff;
  --link: #751525ff;
  --text: #140d0dff;
  --textLight: #ffffff;
  --greenLight: #d4edda;
  --greenMedium: #20a387;
  --yellowLight: #fff3cd;
  --yellowMedium: #ffc107;
  --orangeLight: #ffd2b4ff;
  --orangeMedium: #f09d50ff;

  --toastify-font-family: "Prompt" !important;
  --toastify-color-info: #42a6d4 !important;
  --toastify-color-success: #139e80 !important;
  --toastify-color-warning: #dea440 !important;
  --toastify-color-error: #d14341 !important;
}

body, html {
  background: var(--background);
  color: var(--foreground);
  font-size: 13px;
  margin: auto;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

/* ---------- Class ---------- */

.dot {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#dde2e6 0.5px, #fafafa 1px);
  background-size: 12px 12px;
}

.required:after {
  content:" *";
  color: var(--red-bright);
}

.bg-login {
  background: radial-gradient(92.15% 58.28% at 52.22% 59.28%, #375676 0%, #0e2237 99%);
}

.bg-menu {
  /* background: linear-gradient(
    180deg,
    rgba(var(--primary-rgb), 0.6) 0%,
    rgba(var(--background-rgb), 1) 100%
  ); */
  background: linear-gradient(270deg, var(--primary) 10%, var(--secondary) 90%);
}

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.content-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--border);
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.status-card {
  color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  padding: 4px 16px;
  width: fit-content;
  font-size: 14px;
}

/* ---------- Loading ---------- */

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #cf4320;
  box-shadow: -24px 0 #f59e88, 24px 0 #f59e88;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #f59e88;
    box-shadow: -24px 0 #cf4320, 24px 0 #f59e88;
  }
  66% {
    background: #cf4320;
    box-shadow: -24px 0 #f59e88, 24px 0 #f59e88;
  }
  100% {
    background: #f59e88;
    box-shadow: -24px 0 #f59e88, 24px 0 #cf4320;
  }
}

/* ---------- Modal ---------- */

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 9999;
}

.modal {
  position: relative;
  background-color: var(--modal-bg);
  padding: 30px 30px;
  border-radius: 8px;
  min-width: 500px;
  max-width: 1200px;
  max-height: 550px;
}

.modal-loading {
  position: relative;
  background-color: white;
  padding: 30px 30px;
  border-radius: 8px;
  min-width: 400px;
  max-width: 1200px;
  max-height: 550px;
  color: #272a3b;
  font-weight: 500;
  border: 2px solid #cecfd3
}

/* ---------- Scroll Bar ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f5f4f4;
}
 
::-webkit-scrollbar-thumb {
  background: #dfdede;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dfdfde; 
}

/* ---------- Toast ---------- */

.toast-container {
  min-width: 350px !important;
  max-width: 500px !important;
  width: fit-content !important;
}

/* ---------- Input ---------- */

input, textarea {
  padding: 2px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--black);
  width: 100%;
  min-height: 38px;
  border: 1px solid var(--border);
  border-radius: 6px;
  font-weight: normal;
}

input:focus, textarea:focus, select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

input:disabled, textarea:disabled, select:disabled {
  background: #F2F2F2;
}

input.error, textarea.error {
  border: 1px solid var(--red);
}

.error-label {
  color: var(--red);
  font-size: 11px;
  margin-top: 4px;
  font-weight: normal;
}

/* ---------- Table ---------- */

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  overflow: hidden;
  background: white;
  border-bottom: none;
}

th, td {
  padding: 12px 12px;
  text-align: left;
  border-bottom: 1px solid var(--table-border);
}

th {
  background-color: var(--table-header);
  font-weight: 500;
}

td {
  font-weight: 400;
  color: var(--label);
}

tr:hover {
  background-color: var(--hover-table);
}

table tbody tr:only-child td {
  border-bottom: none;
}

/* ---------- Checkbox ---------- */

.primary-checkbox {
  display: inline-flex;
  align-items: center;
  font-family: 'Prompt', sans-serif;
  cursor: pointer;
}

.primary-checkbox input {
  display: none;
}

.primary-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid #d1d5db;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px;
}

.primary-checkbox input:checked + .checkmark {
  background-color: var(--redRegular);
  border-color: var(--redRegular);
}

.primary-checkbox input:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  border-radius: 1px;
  transform: rotate(45deg);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.primary-checkbox input:disabled:not(:checked) + .checkmark {
  background: var(--disable-bg);
  cursor: default;
}

.primary-checkbox input:disabled + .checkmark {
  cursor: default;
}

/* ---------- Button ---------- */

.primary-button {
  background: var(--primary);
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  min-width: 125px;
  min-height: 38px;
  align-items: center;
  font-weight: normal;
}

.primary-button:hover {
  background: var(--primary-hover);
}

.secondary-button {
  background: white;
  color: var(--primary);
  padding: 6px 16px;
  border-width: 1.5px;
  border-radius: 6px;
  border-color: var(--primary);
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  min-width: 125px;
  min-height: 38px;
  font-weight: 500;
}

.secondary-button:hover {
  background: var(--redLight);
}

.tertiary-button {
  background: white;
  color: var(--primary);
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 38px;
  font-weight: 400;
}

.tertiary-button:hover {
  font-weight: 500;
}

.normal-button {
  background: white;
  color: var(--blue);
  padding: 6px 16px;
  border-width: 1.5px;
  border-radius: 6px;
  border-color: var(--blue);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  min-width: 125px;
  font-weight: 500;
}

.normal-button:hover {
  background: #edeeef;
}

.clear-button {
  background: transparent;
  color: var(--greyDark);
  font-weight: 400;
  padding: 6px 16px;
  border-width: 1px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.clear-button:hover {
  font-weight: 500;
}

.cancel-button {
  background: transparent;
  color: var(--label);
  font-weight: 500;
  padding: 6px 16px;
  border-width: 1px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  min-width: 125px;
}

.cancel-button:hover {
  color: var(--black);
}

.close-button {
  background: white;
  color: var(--black);
  font-weight: 500;
  padding: 6px 16px;
  border-width: 1px;
  border-radius: 4px;
  border-color: var(--border);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  min-width: 125px;
}

.close-button:hover {
  color: var(--black);
}

.danger-button {
  background: var(--red-bright);
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  min-width: 125px;
  align-items: center;
  font-weight: 500;
}

.danger-button:hover {
  background: var(--hover-red);
}

.approve-button {
  background: var(--green);
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  min-width: 125px;
  min-height: 38px;
  align-items: center;
  font-weight: normal;
}

.approve-button:hover {
  background: var(--hover-green);
}

.reject-button {
  background: var(--redRegular);
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  min-width: 125px;
  min-height: 38px;
  align-items: center;
  font-weight: normal;
}

.reject-button:hover {
  background: var(--hover-red);
}

.export-button {
  background: var(--green);
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  min-width: 125px;
  min-height: 38px;
  align-items: center;
  font-weight: normal;
}

.export-button:hover {
  background: var(--hover-green);
}

.edit-button {
  background: var(--brown-gray);
  color: white;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 25px;
  height: 25px;
}

.delete-button {
  background: var(--dim-red);
  color: #ffffff;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 25px;
  height: 25px;
}

.check-button {
  background: var(--green);
  color: #ffffff;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 25px;
  height: 25px;
}

button.primary-button:disabled,
button.secondary-button:disabled,
button.tertiary-button:disabled,
button.normal-button:disabled,
button.clear-button:disabled,
button.close-button:disabled,
button.cancel-button:disabled,
button.danger-button:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

button:disabled .edit-button,
button:disabled .copy-button,
button:disabled .delete-button,
button:disabled .view-button {
  cursor: not-allowed;
  pointer-events: none;
}
